<!-- HEADER -->
<header class="header">
  <h1>Student Directory</h1>
</header>

<!-- MAIN CONTENT -->
<main class="main-container">

  <div class="title-bar">
    <h2>List of Students</h2>
<button class="add-btn" routerLink="/create-student">Add Student</button>
  </div>

  <!-- STUDENT CARD -->
  <section class="student-card">
    <h3 class="student-name">Student Name</h3>
    <p class="student-course">Course</p>
    <p class="student-year">Year Level</p>
    <button class="btn-delete">delete</button>
  </section>

  <section class="student-card">
    <h3 class="student-name">Student Name</h3>
    <p class="student-course">Course</p>
    <p class="student-year">Year Level</p>
    <button class="btn-delete">delete</button>
  </section>

  <section class="student-card">
    <h3 class="student-name">Student Name</h3>
    <p class="student-course">Course</p>
    <p class="student-year">Year Level</p>
    <button class="btn-delete">delete</button>
  </section>

</main>
